html, body {
	background:#000;
	color:#ff4040;
}
a {
	color:#ff4040;
	text-decoration: none;
}
a:hover {
	color:#ED1C2D;
}
.reflink a:hover{
	font-weight: bold;
}
input, textarea {
background-color: #000;
color: #ff4040;
border: 1px solid #ED1C2D;
}
input:focus, textarea:focus
{
background-color: #620000;
}
.adminbar {
	text-align:right;
	clear:both;
	float:right;
	font-size: 13px;
}
.navbar {
	font-size: 13px;
}
.logo {
	clear:both;
	text-align:center;
	font-size:2em;
	color:#ff4040;
	width:100%;
}
.replymode {
	background:#620000;
	text-align:center;
	padding:2px;
	color:#ff4040;
	width:100%;
}
.catalogmode {
	background:#620000;
	text-align:center;
	padding:2px;
	color:#ff4040;
	width:100%;
}
.postarea {
}
.rules {
	/*font-size:0.7em;*/
	width: 468px;
	font-size: 10px;
	font-family: sans-serif;
}
.rules li {
	margin-left: 1em;
	/*text-indent: 0em;*/
}
.postblock {
	background:#620000;
	color:#ff4040;
	font-weight:700;
	text-align: left;
	padding-left: 3px;
	padding-right: 3px;
	border: 0px solid #ED1C2D;
}
.footer {
	text-align:center;
	font-size:12px;
	font-family:serif;
}
.passvalid {
	background:#620000;
	text-align:center;
	width:100%;
	color:#ff4040;
}
.dellist {
	font-weight: bold;
	text-align:center;
}
.delbuttons {
	text-align:center;
	padding-bottom:4px;

}
.managehead {
	background:#620000;
	color:#ff4040;
	padding:0px;
}
.postlists {
	background:#620000;
	width:100%;
	padding:0px;
	color:#ff4040;
}
.row1 {
	background:#620000;
	color:#ff4040;
}
.row2 {
	background:#620000;
	color:#ff4040;
}
.unkfunc {
	background:inherit;
	color:#ff4040;
}
.filesize {
	text-decoration:none;
}
.filetitle {
	background:inherit;
	font-size:1.2em;
	color:#CC1105;
	font-weight:800;
}
.postername {
	color:#ff4040;
	font-weight:bold;
}
.postertrip {
	color:#ED1C2D;
}
.oldpost {
	color:#CC1105;
	font-weight:800;
}
.omittedposts {
	color:#ff4040;
}
.reply {
	background: #620000;
	color: #ff4040;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 5px;
}
.replyhl {
	background: #620000;
	color: #ff4040;
}
.doubledash {
	vertical-align:top;
	clear:both;
	float:left;
}
.replytitle {
	font-size: 1.2em;
	color:#CC1105;
	font-weight:800;
}
.commentpostername {
	color:#F4630B;
	font-weight:800;
}
.thumbnailmsg {
	font-size: small;
	color:#ff4040;
}
.abbrev {
	color:#CC1105;
}
.highlight {
	background:#620000;
	color:#ff4040;
	border: 2px dashed #ED1C2D;
}
#watchedthreads {
	background-color: #620000 !important;
}
.reflinkpreview {
	background-color: #620000 !important;
}