html { height: 100%; }

html, body {
	padding: 0px;
	margin: 0px;
	background: black;
	background: -webkit-linear-gradient(top, #545, rgba(0,0,0,0.3) 120px) no-repeat, url(icons/paisley_bg.jpg) fixed repeat right top, black;
	background:    -moz-linear-gradient(top, #545, rgba(0,0,0,0.3) 120px) no-repeat, url(icons/paisley_bg.jpg) fixed repeat right top, black;
	background:     -ms-linear-gradient(top, #545, rgba(0,0,0,0.3) 120px) no-repeat, url(icons/paisley_bg.jpg) fixed repeat right top, black;
	background:      -o-linear-gradient(top, #545, rgba(0,0,0,0.3) 120px) no-repeat, url(icons/paisley_bg.jpg) fixed repeat right top, black;
	background:         linear-gradient(to bottom, #545, rgba(0,0,0,0.3) 120px) no-repeat, url(icons/paisley_bg.jpg) fixed repeat right top, black;
	color: #434;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	overflow-x: hidden;
}

body {
	margin: 8px;
}

a {
	text-decoration: none;
	color: #868;
}
	
h1, h2 {
	color: #A8A;
	background: rgba(136,102,136,0.3);
	text-align: left;
	margin-bottom: 0em;
	border: 1px solid rgba(136,102,136,0.3);
	border-radius: 0px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom: none;
}

h1 {
	margin-top: 0px;
	font-size: 150%;
}

h2 {
	margin-top: 1em;
	font-size: 100%;
}

.plus {
	float: right;
	/*font-size: 8px;*/
	font-size: 1em;
	font-weight: normal;
	padding: 1px 4px 2px 4px;
	margin: 0px 0px;
}

.plus:hover {
	cursor: row-resize;
}

ul {
	list-style: none;
	padding-left: 0px;
	margin: 0px;
}

li {
	margin: 0px;
	background: transparent;
	border: 1px solid rgba(136,102,136,0.3);
	border-top: 0px;
}

li:hover {
	background: rgba(136,102,136,0.3);
}

a.boardlink:hover, a:hover {
	color: white;
}

li a {
	display: block;
	width: 100%;
}
