html, body {
         background-color:#EEEEFF;
		 background-image:url(images/zeal.png);
		 background-position:top;
		 background-repeat:repeat-x;
         color:#1D1D2F;
		 font-family: "Trebuchet MS", Tahoma, Verdana, Arial, sans-serif;
         font-size:10pt;
}

a {
  color:#1870A8;
  text-decoration:none;   
}
a:visited {
  
  color:#1870A8;
}
a:hover {
  color:#4090b0;
  
}
a.quotelink {
  
  color:#4090b0;
}

p {
	text-align:left;
	margin-top:2px;
	margin-bottom: 10px;	
	padding: 2px;
	list-style: none;
}	

h1 {
	color: #433726;
	font-family:"Times New Roman", Helvetica, Arial;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	line-height: 50px;
	margin: 0px;
	margin-bottom: 0px;
}

h2 {
	font-weight: bold;
	font-family:Helvetica, Arial;
	text-align:center;
	font-style:italic;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px 0px 0px 4px;
}	

h3 {
	font-size: small;
	font-weight: bold;
	font-family:Helvetica, Arial;
	background-color: #89B9CF;
	margin-top: 10px;
	margin-bottom: 0px;
	text-align: left;
	padding: 0px 0px 0px 4px;
    border: 1px solid #1870a8;
}

h4 {
	font-size: x-small;
	text-align: left;
	font-weight: bold;
	font-family:Helvetica, Arial;
    background-color:#89B9CF;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px 0px 0px 4px;
    border: 1px solid #1870a8;
}

hr {
        border: none;
        border-top: 1px solid #B7B7D9;
        height: 0px;
}

ul {
	text-align:left;
	list-style:disc;
}

li {
	margin: 0px;
	padding: 0px 0px 0px 2px;
	line-height: 1.2em;
}

code {
	 font-family: "Trebuchet MS", Tahoma, Verdana, Arial, sans-serif;
	 font-size:10pt;
	 white-space:normal;	 
}

.logo {
  clear:both;
  text-align:center;
  font-size:24pt;
  color:#1D1D2F;
  width:100%;
}

.postblock {
  background-color: #89B9CF;
  color:#1D1D2F;  
  border: 1px solid #1870a8;
  font-weight: bold;
  padding: 2px 5px 2px 5px;
  width:55px;
}

input, textarea {
  background-color: #FFFFFF;
  color:#1D1D2F;  
  border: 1px solid #AAAAAA;
}

.unkfunc {
	background:inert;
	color:#789922;
}
.filesize {
	text-decoration:none;
}
.filetitle {
	color:#DD0000;
	font-weight:800;
}
.postername {
  font-size:11pt;
  color:#1D1D2F;
  font-weight: bold;
}
.postertrip {
	
	color:#1D1D2F;
}
.oldpost {

  color:#1D1D2F;
  font-weight:800;
}
.omittedposts {

  color:#444;
}
.reply {
  background-color: #DEE1FF;
  color:#1D1D2F;  
  border-style: solid;
  border-color: #B7B7D9;
  border-width: 0px 1px 1px 0px;    
}
.replyhl {
  background-color: #DEE1FF;
  color:#1D1D2F;
}
.highlight {
	background-color:#DEE1FF;	
	color:#1D1D2F;
	border: 1px dashed #1870A8;
}
.doubledash {
 	vertical-align:top;
	clear:both;
	float:left;
}
.replytitle {
	
	font-size:18px;
 	color:#1D1D2F;
  font-weight:800;
}
.commentpostername {

  font-size:11pt;
	color:#1D1D2F;
  font-weight: bold;
}
a.quotejs {
  color:#1D1D2F; 
	text-decoration: none;
}
a.quotejs:hover {
  font-weight:bold;
}

.title {
	font-size: small;
	font-weight: bold;
	font-family:Helvetica, Arial;
	background-color: #89B9CF;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: left;
	padding: 0px 0px 0px 4px;
    border: 1px solid #1870a8;
}

.content {
	text-align:left;
	margin-top:2px;
	margin-bottom: 10px;	
	padding: 2px;
	list-style: none;
	background-color: #DEE1FF;
    border: 1px solid #1870a8;	
}		

.top {
	font-size:20px;
	font-family:"Times New Roman", Helvetica, Arial;
	font-weight:normal;
	text-align:center;
	width:75%;
	position:absolute;
	top:0px;
	left:205px;
	margin-top:5px;
}




