html, body {
	background:url(/css/images/darkchanbg.png) top left repeat-x #000000;
	color:#A6B0D6;
font-family: Arial;
font-size: 13px;
}
blockquote{
padding:10px;
color:#A6B0D6;

}

.navbar {
	background: #transparent!important;
	width: 100% !important;
	padding: .4em !important;
	top: 0;
	z-index: 1;
	font-size: 10pt;
}

.navbar a{
	text-decoration: none;	
}

.navbar a:hover{
	text-decoration: none;
}

.admin {
	color: #FFFFFF;
	}
a {
	color:#FFFFFF;
}
a:hover {
	color:#A6B0D6;
}
.reflink a:hover{
	font-weight: bold;
}
.adminbar {
	text-align:right;
	clear:both;
	float:right;
	padding: 2px;
	padding-left: 5px;
	margin-top: 3px;
	margin-bottom: 10px;
	padding-right: 5px;
	font-size: 10pt;
}

.adminbar a{
	text-decoration: none;	
}

.adminbar a:hover{
	text-decoration: none;
}

.logo {
	clear:both;
	text-align:center;
	font-size:2em;
	color:#A6B0D6;
	width:100%;
}
.replymode {
	background:#000000;
	text-align:center;
	padding:2px;
	color:#FFFFFF;
	width:100%;
}
.catalogmode {
	background:#0040E0;
	text-align:center;
	padding:2px;
	color:#FFFFFF;
	width:100%;
}
.postarea {
}
.rules {
	/*font-size:0.7em;*/
	width: 468px;
	font-size: 10px;
	font-family: sans-serif;
}
.rules li {
	margin-left: 1em;
	/*text-indent: 0em;*/
}
.postblock {
	background:#1F2E1C;
	color:#2BBE1F;
	border: 1px solid #343A4A;
	font-weight:800;
}

.passvalid {
	background:#8993cd;
	text-align:center;
	width:100%;
	color:#ffffff;
}
.dellist {
	font-weight: bold;
	text-align:center;
}
.delbuttons {
	text-align:center;
	padding-bottom:4px;

}
.managehead {
	background:#2BBE1F;
	color:#000000;
	padding:0px;
}
.postlists {
	background:#FFFFFF;
	width:100%;
	padding:0px;
	color:#000000;
}
.row1 {
	background:#A7F69A;
	color:#000000;
}
.row2 {
	background:#FFFFFF;
	color:#000000;
}
.unkfunc {
	background:inherit;
	color:#6A7492;

}
.filesize {
	text-decoration:none;
}
.filetitle {
	background:inherit;
	font-size:1.2em;
	color:#A7F69A;
	font-weight:800;
}
.postername {
	color:#FFFFFF;
	font-weight:bold;
}
.postertrip {
	color:#FFFFFF;
}
.oldpost {
	color:#0F0C5D;
	font-weight:800;
}
.omittedposts, .filesize, .filesize a, label, .reflink a{
	color:#343A4A;
}
.reply .filesize, .reply .filesize a, .reply label, .reply .reflink a{
	color:#464B5E;
}
.highlight .filesize, .highlight .filesize a, .highlight label, .highlight .reflink a{
	color:#000000;
}
.checkboxlabel {
	color:#FFFFFF;
}
.cbox{
	background: #1F2E1C;
	color: #4A5E46;
padding:5px;
border:1px solid #343A4A;
}
.reply {
	background: #1F2E1C;
	color: #4A5E46;
padding:5px;
border:1px solid #343A4A;

}
.replyhl {
	background: #D6BAD0;
	color: #000000;
}
.doubledash {
	color:#1C1F2E;
 	vertical-align:top;
	clear:both;
	float:left;
}
.replytitle {
	font-size: 1.2em;
	color:#145D0C;
	font-weight:800;
}
.commentpostername {
	color:#145D0C;
	font-weight:800;
}
.thumbnailmsg {
	font-size: small;
	color:#000000;
}

.abbrev {
	color:#464B5E;
}
.highlight {
	background:#394A34;
border:1px solid #1C1F2E;
	color:#000000;
}
#watchedthreads {
	background-color: #D6DAF0 !important;
}
.top { 	
	position: absolute; 
	z-index: 5; 
	width: 100%; 
	left: 0px; 
	top: 0px; 
	overflow: auto;
}
hr {
  border:none; 
  border-color:#1C1F2E;
  color: #1C1F2E;
  background-color: #1C1F2E;
  height: 2px;
}
.reflinkpreview {
	background-color: #000000 !important;
}
